

.Board {
    background: teal;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

#NewGame{
    height:100px; 
    width:480px; 
    margin: -100px -240px; 
    position:absolute;
    top:25%; 
    left:50%;
}
.Log {
    background: gray;
    position: absolute;
    top:0;
    bottom: 100;
    left: 0;
    right: 0;
    margin:auto;
}